/* -----------------------------------------------------------------------------
 *
 * Step 1 icons 
 * 
 */

.header-icons {
  max-width: 360px;
  margin: 0 auto;
}
#header-icon-1 {
  background: url("../../images/on-the-go/on-the-go.png") no-repeat center
    center;
  height: 120px;
  width: 120px;
}
#header-icon-2 {
  background: url("../../images/on-the-go/ticket.png") no-repeat center center;
  background-size: cover;
  height: 120px;
  width: 120px;
}
#header-icon-3 {
  background: url("../../images/on-the-go/airplane.png") no-repeat center center;
  background-size: cover;
  height: 120px;
  width: 120px;
}
#bus {
  background: url("../../images/on-the-go/bus.png") no-repeat center center;
}
#train {
  background: url("../../images/on-the-go/train.png") no-repeat center center;
}

/* -----------------------------------------------------------------------------
 *
 * Step 2 styles 
 * 
 */

#tickets-label {
  background: url("../../images/on-the-go/ticket.png") no-repeat center center;
  background-size: cover;
  height: 40px;
  width: 40px;
}
#less,
#more {
  border: none !important;
  min-width: 40px;
  min-height: 40px;
}
#less {
  background: url("../../images/on-the-go/minus-button.png") no-repeat center
    center;
  background-size: cover;
}
#more {
  background: url("../../images/on-the-go/plus-button.png") no-repeat center
    center;
  background-size: cover;
}

.small-header-icons {
  max-width: 240px;
  margin: 5px auto;
  float: right;
}
#small-header-icon-1 {
  background: url("../../images/on-the-go/on-the-go.png") no-repeat center
    center;
  background-size: cover;
  height: 80px;
  width: 80px;
}
#small-header-icon-2 {
  background: url("../../images/on-the-go/ticket.png") no-repeat center center;
  background-size: cover;
  height: 80px;
  width: 80px;
}
#small-header-icon-3 {
  background: url("../../images/on-the-go/airplane.png") no-repeat center center;
  background-size: cover;
  height: 80px;
  width: 80px;
}

#previous-departure {
  background: url("../../images/on-the-go/previous-button.png") no-repeat center
    center;
  background-size: cover;
  border: none !important;
  height: 100px !important;
  width: 100px;
}
#next-departure {
  background: url("../../images/on-the-go/next-button.png") no-repeat center
    center;
  background-size: cover;
  border: none !important;
  height: 100px !important;
  width: 100px;
}

#current-time {
  padding-left: 40px;
  background: url("../../images/on-the-go/time.png") no-repeat left center;
  background-size: 25px;
}

#timeline-wrapper {
  margin-top: 10%;
  text-align: center;
}

#tranportation-type {
}

.bus {
  background: url("../../images/on-the-go/bus-stop.png") no-repeat center center;
  background-size: cover;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px auto;
}
.train {
  background: url("../../images/on-the-go/train-stop.png") no-repeat center
    center;
  background-size: cover;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px auto;
}

.dash {
  margin-top: 40px;
}

#travel-time {
  background: url("../../images/on-the-go/clock-interval.png") no-repeat center
    center;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
#arrival-icon {
  background: url("../../images/on-the-go/airport-departure.png") no-repeat
    center center;
  background-size: cover;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px auto;
}

#cancel {
  background: url("../../images/on-the-go/cancel-button.png") no-repeat center
    center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none !important;
}

#confirm,
#buy {
  background: url("../../images/on-the-go/accept-button.png") no-repeat center
    center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none !important;
}

/* -----------------------------------------------------------------------------
 *
 * Step 3 styles 
 * 
 */

#confirm-tickets {
  padding-left: 40px;
  background: url("../../images/on-the-go/ticket.png") no-repeat left center;
  background-size: 25px;
}

#confirm-price {
  padding-left: 40px;
  background: url("../../images/on-the-go/euro.png") no-repeat left center;
  background-size: 25px;
}
#confirm-departure {
  padding-left: 40px;
  background: url("../../images/on-the-go/time.png") no-repeat left center;
  background-size: 25px;
}
