#on-the-go {
  background-color: #f7f7f7;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

nav {
  min-height: 80px;
  background-color: #ffee00;
}

/* -----------------------------------------------------------------------------
 *
 * Step 1 styles 
 * 
 */

#step-1 {
  /* display: none; */
}

#step-1 header {
  margin-top: 5%;
  text-align: center;
}

#step-1 button {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #ffee00;
  font-size: 4rem;
}

#step-1 .start-button-wrapper {
  margin-top: 50%;
}

/* -----------------------------------------------------------------------------
 *
 * Step 2 styles 
 * 
 */

#step-2 {
  display: none;
}

#tickets p,
#tickets button {
  height: 40px;
  margin-top: 20px;
  float: left;
  margin-right: 20px;
}

#tickets p {
  line-height: 40px;
}

#tickets-label {
}
#less {
}
#amount {
  width: 20px;
  text-align: center;
  box-sizing: border-box;
}
#more  {
}
#total-price {
}

#step-2 header {
  float: right;
}

#departure-wrapper {
  margin-top: 10%;
  text-align: center;
}

#departure-wrapper button {
  height: 100px;
  white-space: normal;
}

#timeline-wrapper {
  margin-top: 10%;
  text-align: center;
}

#tranportation-type {
  text-transform: capitalize;
}

#buy,
#cancel {
  position: fixed;
  bottom: 20px;
  width: 100px;
  height: 70px;
}
#cancel {
  left: 20px;
}

#buy {
  right: 20px;
}

/* -----------------------------------------------------------------------------
 *
 * Step 3 styles 
 * 
 */

#step-3 {
  display: none;
  text-align: center;
}
