ul {
	list-style-type: none;
	margin: 5px;
	padding: 2px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

h1 {
	text-align: center;
	margin-top: 30px;
}

h2 {
	font-size: 20px;
}

#selecth {
	margin-top: 10px;
	margin-left: 10px;
	text-decoration: underline;
}

#movies {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#ticketsh {
	margin-top: -50px;
	margin-left: 20px;
	margin-bottom: 70px;
	text-decoration: underline;
}

#ticketbuttonminus {
	display: inline-block;
	font-size: 14px;
	width: 75px;
	height: 30px;
}

#ticketbuttonplus {
	display: inline-block;
	font-size: 14px;
	width: 75px;
	height: 30px;
}

#ticketind {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 24px;
}

#ticketnum {
	display: inline-block;
	font-size: 14px;
}

#seatsh {
	margin-top: 30px;
	margin-left: 35px;
	text-decoration: underline;
	width: 175px;
}

.dropdown {
	margin-top: 50px;
	margin-left: 20px;
}

#selectedsh {
		margin-top: 30px;
		margin-left: 100px;
}

.list-group {
	height: 190px;

}

#clearbutton {
	display: inline-block;
	font-size: 20px;
	width: 150px;
	height: 50px;
	vertical-align: middle;
}

#continuebutton {
	display: inline-block;
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-left: 50px;
}


.vertical-menu {
    overflow-y: auto;
	height: 320px;
}

#step-2 {
	margin-top: 50px;
	padding: 50px;
}

#step-3 {
	margin-top: 50px;
	margin-bottom: 30px;
}

#continue {
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin-left: 235px;
	margin-top: 20px;
	margin-bottom: 40px;
	vertical-align: middle;
}

.seatitem {
	margin-left: 75px;
	width: 275px;
	height: 40px;
}